<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Longin</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        const message= "<%- result %>";
    </script>
    <script src="/scripts/login.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/pulse/bootstrap.min.css" integrity="sha384-L7+YG8QLqGvxQGffJ6utDKFwmGwtLcCjtwvonVZR/Ba2VzhpMwBz51GaXnUsuYbj" crossorigin="anonymous">
    <style>
        html, div, form {
            display: table;
            margin: auto;
        }
        #btn_login{
            margin: auto;
            display: block;
        }
    </style>
</head>
<body>
    <hr>
    <h1>로그인 페이지</h1>
    <form action="/" method="post">
        <input type="text" placeholder="Id" name="user_id" ><br>
        <input type="password" placeholder="Password" name="user_pw" ><br>
        <br>
        <input type="submit" value="로그인" id="btn_login">
        
    </form>
</body>
</html>