<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Main</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/pulse/bootstrap.min.css" integrity="sha384-L7+YG8QLqGvxQGffJ6utDKFwmGwtLcCjtwvonVZR/Ba2VzhpMwBz51GaXnUsuYbj" crossorigin="anonymous">
    <style>
        html, body, div{
            display: table;
            margin: auto;
        }
    </style>
</head>
<body>
    <br/><br/>
    <h1>메인 페이지</h1>
    <div class="card text-white bg-primary mb-3">
        <button type="button" value="회원 등록" id="btn_register" class="btn btn-secondary">회원 등록</button>
        <button type="button" value="회원 목록" id="btn_list" class="btn btn-secondary">회원 목록</button>
    </div>
</body>
</html>